.panel-container {
    display: flex;
    flex-wrap: wrap;
    padding: 14px;
}
.panel-menu-buttons {
    flex: 1 1 0;
    min-width: 0;
    background: var(--bg-card);
    border-radius: 12px 12px 0 0;
    padding: 14px;
}
.panel-menu-buttons .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.panel-menu-buttons .buttons .panel-menu-btn {
    flex: 1 1 auto;
    min-width: 120px;
    max-width: 100%;
    padding-right: 15px;
    height: 50px;
}
.panel-menu-btn__text {
    opacity: 1;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-menu {
    flex: 0 0 100%;
    min-height: 200px;
    background: var(--bg-card);
    border-radius: 0px 0px 12px 12px;
    padding: 14px;
}
.profile-card {
    width: fit-content;
    max-width: 500px;
    background: var(--bg-card);
    border-radius: 12px;
    padding: 14px;
}
a.profile-card {
    text-decoration: none;
    color: currentColor;
}

.profile-card-result {
    box-shadow: 0 8px 30px var(--shadow-color);
}
.profile-card-result .username {
    font-size: 18px;
}
.profile-card-result span {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: top;
}
#users-result {
    margin: 14px 0px;
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
}
#users-pages {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#users-pages .menu-btn__text {
    opacity: 1;
    max-width: 44px;
    width: stretch;
}
#users-pages .menu-btn:hover {
    padding-right: 0px;
}
.pages-separator {
    vertical-align: bottom;
    margin: 10px;
}

@media (max-width: 750px) {
    .profile-card {
        width: auto;
        max-width: none;
    }
    .panel-container {
        flex-direction: column;
    }
    .panel-menu-buttons {
        flex: 1 1 100% !important;
    }
    .panel-menu {
        min-height: 150px;
        padding-top: 0px;
        border-radius: 0px 0px 12px 12px;
    }
    .menu-form {
        column-gap: 14px;
        row-gap: 0px;
    }
    .menu-form .form-group {
        flex: 1 1 100% !important;
        max-width: 100% !important;
        min-width: 0 !important;
    }
    .menu-form .form-group:nth-child(1),
    .menu-form .form-group:nth-child(2) {
        flex: 1 1 calc(50% - 5px) !important;
        max-width: calc(50% - 5px) !important;
    }
    .menu-form .form-group:nth-child(3),
    .menu-form .form-group:nth-child(4) {
        flex: 1 1 0 !important;
        min-width: 0 !important;
        max-width: 100% !important;
    }
    .menu-form button {
        flex: 0 1 auto !important;
        max-width: 100% !important;
        width: auto !important;
        margin-bottom: 14px;
        align-self: end;
    }
    .menu-form .form-group[style*="max-width"] {
        max-width: none !important;
    }

}
.menu-form button {
        margin-bottom: 14px;
        align-self: end;
    }