{% extends "base.html" %}
{% block script %}
<script src="{{ url_for('static', path='/js/auth/authorize.js') }}"></script>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/auth/authorize.css') }}">
{% endblock %}
{% block main %}
<div class="login-box auth-box">
    <h2>Авторизация</h2>
    <div class="auth-tabs">
        <button class="tab-btn active" data-tab="login" onclick="switchTab('login')">Вход</button>
        <button class="tab-btn" data-tab="register" onclick="switchTab('register')">Регистрация</button>
        <button class="tab-btn" data-tab="forgot" onclick="switchTab('forgot')">Забыв(</button>
    </div>
    <form id="loginForm" class="tab-content active">
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" class="menu-btn menu-btn--purple" id="login" name="login" placeholder="юзернейм или почта" required>
            <span class="error" id="loginError"></span>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="menu-btn menu-btn--purple" id="password" name="password" required>
            <span class="error" id="passwordError"></span>
        </div>
        <button type="submit" class="menu-btn menu-btn--purple">Войти</button>
        <div id="loginFormError" class="error"></div>
    </form>
    <form id="registerForm" class="tab-content">
        <div class="form-group">
            <label for="reg-username">юзернейм</label>
            <input type="text" class="menu-btn menu-btn--purple" id="reg-username" name="reg-username" placeholder="Только латиница" required>
            <span class="error" id="regUsernameError"></span>
        </div>
        <div class="form-group">
            <label for="reg-email">Email</label>
            <input type="email" class="menu-btn menu-btn--purple" id="reg-email" name="reg-email" placeholder="example@gmail.com" required>
            <span class="error" id="regEmailError"></span>
        </div>
        <div class="form-group">
            <label for="reg-password">Пароль</label>
            <input type="password" class="menu-btn menu-btn--purple" id="reg-password" name="reg-password" required>
            <span class="error" id="regPasswordError"></span>
        </div>
        <div class="form-group">
            <label for="reg-confirm-password">Подтвердите пароль</label>
            <input type="password" class="menu-btn menu-btn--purple" id="reg-confirm-password" name="reg-confirm-password" required>
            <span class="error" id="regConfirmError"></span>
        </div>
        <button type="submit" class="menu-btn menu-btn--purple">Зарегистрироваться</button>
        <div id="registerFormError" class="error"></div>
    </form>
    <form id="forgotForm" class="tab-content">
        <div class="form-group">
            <label for="forgotlogin">Логин</label>
            <input type="text" class="menu-btn menu-btn--purple" id="forgotlogin" name="forgotlogin" placeholder="юзернейм или почта" required>
            <span class="error" id="forgotloginError"></span>
        </div>
        <button type="submit" class="menu-btn menu-btn--purple">Сброс пароля</button>
        <div id="forgotFormError" class="error"></div>
    </form>
</div>
{% endblock %}