{% extends "base.html" %}
{% block script %}
<script src="{{ url_for('static', path='/js/auth/change_password.js') }}"></script>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/auth/change_password.css') }}">
{% endblock %}
{% block main %}
<div class="change-box">
    <h2>Восстановление пароля</h2>
    <form id="changeForm" method="post" action="/api/v1/auth/signup" class="tab-content">
        <div class="form-group">
            <label for="new-password">Новый пароль</label>
            <input type="password" class="menu-btn menu-btn--purple" id="new-password" name="new-password" required>
            <span class="error" id="newPasswordError"></span>
        </div>
        <div class="form-group">
            <label for="confirm-password">Подтвердите пароль</label>
            <input type="password" class="menu-btn menu-btn--purple" id="confirm-password" name="confirm-password" required>
            <span class="error" id="confirmError"></span>
        </div>
        <button type="submit">Сменить пароль</button>
        <div id="FormError" class="error"></div>
    </form>
</div>
{% endblock %}